<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Atendimentos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h2>Atendimentos</h2>

    <div class="actions">
        <a th:href="@{/atendimentos/novo}" class="button button-primary">
            + Novo Atendimento
        </a>
    </div>

    <div class="actions">
        <form method="get">
            <select name="clienteId">
                <option value="">Todos os clientes</option>
                <option th:each="c : ${clientes}"
                        th:value="${c.id()}"
                        th:text="${c.nome()}"
                        th:selected="${c.id() == clienteId}">
                </option>
            </select>

            <div class="filtro-datas">
                <div>
                    <label>Data inicial</label>
                    <input type="date" name="dataInicio" th:value="${dataInicio}">
                </div>

                <div>
                    <label>Data final</label>
                    <input type="date" name="dataFim" th:value="${dataFim}">
                </div>
            </div>

            <button class="button button-primary">Filtrar</button>
            <a href="/atendimentos" class="button button-secondary">Limpar</a>
        </form>
    </div>

    <table>
        <thead>
        <tr>
            <th>Cliente</th>
            <th>Técnico</th>
            <th>Status</th>
            <th>Problema</th>
            <th>Data Abertura</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="at : ${atendimentos}">
            <td th:text="${at.clienteNome()}"></td>
            <td th:text="${at.tecnico().nome}"></td>
            <td>
                <span class="badge"
                    th:classappend="' badge-' + ${#strings.toLowerCase(at.status().name())}"
                     th:text="${at.status()}">
                </span>
            </td>
            <td th:text="${#strings.abbreviate(at.problemaRelatado(), 40)}"></td>
            <td th:text="${at.dataCriacao() != null
                 ? #temporals.format(at.dataCriacao(), 'dd/MM/yyyy HH:mm')
                 : '-'}"></td>
            <td>
                <a th:href="@{/atendimentos/detalhes/{id}(id=${at.id()})}"
                   class="button button-secondary">Detalhes</a>

                <a th:href="@{/atendimentos/editar/{id}(id=${at.id()})}"
                   class="button button-secondary">Editar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="pagination">
        <a th:if="${atendimentos.hasPrevious()}"
           th:href="@{/atendimentos(page=${atendimentos.number - 1},
                                clienteId=${clienteId},
                                dataInicio=${dataInicio},
                                dataFim=${dataFim})}">
            ◀ Anterior
        </a>

        <span>
        Página <b th:text="${atendimentos.number + 1}"></b>
        de <b th:text="${atendimentos.totalPages}"></b>
    </span>

        <a th:if="${atendimentos.hasNext()}"
           th:href="@{/atendimentos(page=${atendimentos.number + 1},
                                clienteId=${clienteId},
                                dataInicio=${dataInicio},
                                dataFim=${dataFim})}">
            Próxima ▶
        </a>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
